.wrapper {
  background-color: black;
  height: 100vh;

}

.container {
  --spacer-css: 332px;
  min-height: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-wrapper {
  width: var(--sidebar-width);
  margin-right: var(--general-padding);
}

.main-container {
  padding: 8px;
  display: flex;
  flex: 1;
}

.main-content {
  width: 100%;
  background-color: var(--primary-background-color);
  position: relative;
}

.main-section-wrapper {
  height: 100%;
  overflow-y: overlay;
}

.spacer-header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: -1;
}

.header-wrapper {
  opacity: 0;
  background-color: var(--primary-background-color);
  height: var(--header-height);
  width: 100%;
  border-radius: 8px 8px 0 0;

  position: absolute;
  top: 0;
  z-index: 1;
}

.spacer-wrapper {
  height: 100%;
  position: relative;
  z-index: 0;
}

.spacer-css {
  height: var(--spacer-css);
  width: 100%;
  border-radius: 8px;

  background-color: rgb(83, 83, 83);
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--background-base) 100%),var(--background-noise);
}


// hopeee
sidebar-wrapper {
  height: 100%;
}

.footer-wrapper {
  width: 100%;
  height: var(--footer-height);

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}