.wrapper {
    display: flex;
    flex-direction: column;
}

.player-control-btns {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    margin-bottom: 8px;
}

.info-icon {
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
}

.player-control-left {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: .8rem;

    & .info-icon {
        fill: var(--icon-color);

        &:hover {
        fill: #fff;
        }
    }
}

.player-control-playpause {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #fff;
    border-radius: 32px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s; /* Animation */

    &:hover {
      transform: scale(1.07);
    }
}

.playback-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}
.time-start,
.time-end {
    font-size: 1.1rem;
    color: var(--text-subdued,#6a6a6a);
}

.player-control-right {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: .8rem;

    & .info-icon {
        fill: var(--icon-color);
        &:hover {
            fill: #fff;
            }
    }
}

.play-music {
    display: flex;
}

.pause-music {
    display: none;
}

