.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-wrapper {
    min-width: 180px;
    width: 30%;
    padding-left: 1.6rem;
    display: flex;
}

.info-image {
    width: 56px;
    height: 56px;
    border-radius: 4px;
}

.info-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 8px;
}

.info-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon + .info-icon {
    padding-inline: 16px;
}

.player-wrapper {
    width: 40%;
    max-width: 722px;
}

.more-controls-wrapper {
    width: 30%;
    min-width: 180px;
}