.wrapper {
    padding: 24px;
}

.top-discover-playlist {
    padding-top: 20px;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 12px;
}

.discover-thumbnail {
    height: 232px;
    width: 232px;
}

.discover-type {
    text-transform: capitalize;}

.discover-title {
    font-size: 9.6rem;
}

.discover-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.discover-playlists {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding-bottom: 50px;
    grid-gap: 24px
}

.song-wrapper {
    padding: 16px;
    background-color: #181818;
    border-radius: 10px;
}

.song-item {
    display: flex;
    flex-direction: column;
}

.song-thumbnail {
    margin-bottom: 16px;
    border-radius: 10px;

}

.song-title {
    font-size: 1.6rem;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.song-desc {
    font-size: 1.4rem;
    color: var(--text-desc-color);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.1);
}

.detail-info {
    border-top: none;
    align-items: flex-start;
}

.infos-wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 var(--left-sidebar-padding-right) 0
      var(--left-sidebar-padding-left);

      display: flex;
}
  
.infos {
    display: flex;
    flex-wrap: wrap;
}

.info-item > a {
    margin-right: 16px;
    color: var(--text-desc-color);
    font-size: 1.4rem;
}

.underline {
    &:hover {
        text-decoration: underline var(--text-desc-color);
    }
}


.copy-right {
    font-size: 1.4rem;
    color: var(--text-desc-color);
}

.infos-container {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-bottom: 32px;
}

.infos-list {
    display: flex;
    flex-direction: column;
}

.info-item {
    color: var(--text-desc-color);
    margin: 8px 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: var(--text-main-color);
    }
}

.contact-info {
    fill: white;
    height: 40px;
    width: 40px;
    margin-right: 16px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: hsla(0,0%,100%,.3);
    }
    &:last-of-type {
        margin-right: 0px;
    }
}

.no-underline:hover {
    text-decoration: none ;

    & > a {
        color: var(--text-main-color);
    }
}