.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duration-progress {
    height: var(--progress-bar-height);
    border-radius: calc(var(--progress-bar-height)/2);
    width: 100%;
    background-color: var(--text-subdued,#6a6a6a);

    position: relative;

    &:hover .past-progress{
        background-color: #1db954;

        & .duration-btn {
            display: block;
        }
    }
    
    &:active .past-progress{
        background-color: #1db954;

        & .duration-btn {
            display: block;
        }

    }
}

.past-progress {
    width: 30px;
    height: inherit;
    border-radius: calc(var(--progress-bar-height)/2);
    background-color: #fff;
    position: absolute;
    left: 0;
}

.duration-btn {
    display: none;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    left: 30px;
    transform: translateY(-50%);
    top: 50%;
}