.wrapper {

    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

.header-wrapper {
    padding: 32px 0px 32px 51px;
}

.header {
    height: 36px;
    display: flex;
}

.body-wrapper {
    display: flex;
    justify-content: center;
    padding: 32px;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}